
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add-Patient</title>
</head>
<body>
    <form method="post" action ="/Patient/AddtoDb">
        patient name:-  <input type="text" name="patientName" value="patient Name" /> <br/>
        <input type="submit" name="name" value="submit" /> <br />

        patient Id :-
    </form>

</body>
</html>
