
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPatient</title>
</head>
<body>
    to be continued..
</body>
</html>
